[Unit]
Description=SCD4x to MQTT on Raspberry Pi 1b
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=mysun
ExecStart=/usr/local/bin/scd4x-mqtt
Environment="MQTT_HOST="
Environment="MQTT_PORT="
Environment="MQTT_USERNAME="
Environment="MQTT_PASSWORD="

[Install]
WantedBy=multi-user.target
